In [65]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [66]:
df = pd.read_csv("../data/processed/cleaned_data.csv")

In [67]:
df.dropna(inplace=True)

In [68]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Code, Value, year, month, day, hour, weekday, hour_sin, hour_cos]
Index: []

In [69]:
df[df.duplicated()]

,Code,Value,year,month,day,hour,weekday,hour_sin,hour_cos
1394,33,6.0,1991.0,6.0,12.0,18.0,2.0,-1.000000e+00,-1.836970e-16
1459,33,6.0,1991.0,6.0,18.0,18.0,1.0,-1.000000e+00,-1.836970e-16
1470,33,6.0,1991.0,6.0,19.0,18.0,2.0,-1.000000e+00,-1.836970e-16
1569,33,5.0,1991.0,6.0,29.0,8.0,5.0,8.660254e-01,-5.000000e-01
1615,33,6.0,1991.0,7.0,3.0,18.0,2.0,-1.000000e+00,-1.836970e-16
...,...,...,...,...,...,...,...,...,...
29259,33,3.0,1990.0,9.0,25.0,12.0,1.0,1.224647e-16,-1.000000e+00
29260,64,56.0,1990.0,9.0,25.0,15.0,1.0,-7.071068e-01,-7.071068e-01
29261,63,327.0,1990.0,9.0,25.0,20.0,1.0,-8.660254e-01,5.000000e-01
29262,33,5.0,1990.0,9.0,25.0,20.0,1.0,-8.660254e-01,5.000000e-01
29263,35,6.0,1990.0,9.0,25.0,20.0,1.0,-8.660254e-01,5.000000e-01

In [70]:
newDf = df[["Code","Value", "year", "month", "day", "hour",	"weekday",	"hour_sin"	,"hour_cos"]]
newDf

       Code  Value    year  month   day  hour  weekday      hour_sin  hour_cos
0        58  101.0  1991.0    5.0  20.0   8.0      0.0  8.660254e-01 -0.500000
1        33    5.0  1991.0    5.0  20.0   8.0      0.0  8.660254e-01 -0.500000
2        34   27.0  1991.0    5.0  20.0   8.0      0.0  8.660254e-01 -0.500000
3        60   89.0  1991.0    5.0  20.0  12.0      0.0  1.224647e-16 -1.000000
4        33    3.0  1991.0    5.0  20.0  12.0      0.0  1.224647e-16 -1.000000
...     ...    ...     ...    ...   ...   ...      ...           ...       ...
29259    33    3.0  1990.0    9.0  25.0  12.0      1.0  1.224647e-16 -1.000000
29260    64   56.0  1990.0    9.0  25.0  15.0      1.0 -7.071068e-01 -0.707107
29261    63  327.0  1990.0    9.0  25.0  20.0      1.0 -8.660254e-01  0.500000
29262    33    5.0  1990.0    9.0  25.0  20.0      1.0 -8.660254e-01  0.500000
29263    35    6.0  1990.0    9.0  25.0  20.0      1.0 -8.660254e-01  0.500000

[29244 rows x 9 columns]

In [ ]:
newDf.describe()

,Code,Value,year,month,day,hour,weekday,hour_sin,hour_cos
count,29244.000000,29244.000000,29244.000000,29244.000000,29244.000000,29244.000000,29244.000000,2.924400e+04,2.924400e+04
mean,46.494050,79.416718,1990.141533,6.416188,15.681302,13.362194,2.938586,-2.102906e-02,-1.652687e-01
std,13.370419,93.522136,0.873788,2.677477,8.885845,5.773494,1.997431,7.881977e-01,5.924709e-01
min,4.000000,0.000000,1988.000000,1.000000,1.000000,0.000000,0.000000,-1.000000e+00,-1.000000e+00
25%,33.000000,6.000000,1990.000000,4.000000,8.000000,8.000000,1.000000,-8.660254e-01,-5.000000e-01
50%,48.000000,24.000000,1990.000000,7.000000,16.000000,12.000000,3.000000,1.224647e-16,-2.588190e-01
75%,60.000000,142.000000,1991.000000,8.000000,23.000000,18.000000,5.000000,8.660254e-01,6.123234e-17
max,72.000000,501.000000,1991.000000,12.000000,31.000000,23.000000,6.000000,1.000000e+00,1.000000e+00

In [72]:
zero_count_column = (newDf['Value'] == 0).sum()
zero_count_column

np.int64(1265)

In [77]:
newDf = newDf[newDf['Value'] != 0]

In [79]:
len(newDf)

27979

In [80]:
newDf

       Code  Value    year  month   day  hour  weekday      hour_sin  hour_cos
0        58  101.0  1991.0    5.0  20.0   8.0      0.0  8.660254e-01 -0.500000
1        33    5.0  1991.0    5.0  20.0   8.0      0.0  8.660254e-01 -0.500000
2        34   27.0  1991.0    5.0  20.0   8.0      0.0  8.660254e-01 -0.500000
3        60   89.0  1991.0    5.0  20.0  12.0      0.0  1.224647e-16 -1.000000
4        33    3.0  1991.0    5.0  20.0  12.0      0.0  1.224647e-16 -1.000000
...     ...    ...     ...    ...   ...   ...      ...           ...       ...
29259    33    3.0  1990.0    9.0  25.0  12.0      1.0  1.224647e-16 -1.000000
29260    64   56.0  1990.0    9.0  25.0  15.0      1.0 -7.071068e-01 -0.707107
29261    63  327.0  1990.0    9.0  25.0  20.0      1.0 -8.660254e-01  0.500000
29262    33    5.0  1990.0    9.0  25.0  20.0      1.0 -8.660254e-01  0.500000
29263    35    6.0  1990.0    9.0  25.0  20.0      1.0 -8.660254e-01  0.500000

[27979 rows x 9 columns]

In [82]:
from sklearn.model_selection import train_test_split

In [83]:
X = newDf.drop(columns=['Value']) 
y = newDf['Value'] 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [86]:
import joblib

# Save the data
joblib.dump(X_train, '../data/processed/X_train.pkl')
joblib.dump(X_test, '../data/processed/X_test.pkl')
joblib.dump(y_train, '../data/processed/y_train.pkl')
joblib.dump(y_test, '../data/processed/y_test.pkl')

print("Data saved successfully!")

Data saved successfully!